header{
    background-color: var(--background-tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}
.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    }
nav{
    display: none;
}
.menu-toggle{
    margin-top: 24px;
    display: block;
    cursor: pointer;
}